html, body, #root, .app {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

.nav {
	padding: 10px;
	background-color: #1d2d42;
	color: #ffffff;
	font-size: 24px;
}

.grid {
	margin: 20px;
	text-align: justify;
}

tr, td {
	padding: -1px;
	text-align: center;
}

.control {
	padding: 10px;
	height: 100%;
	background-color: #e4f0ff;
}